.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    background-color: lightgreen;
 
    
}


.box :nth-child(1){
/**    
order: 1;
flex:1;
**/
}

.box :nth-child(2){
/**   
    order: -1;
flex:2;**/
align-self: end;

}

.box :nth-child(3){
    /**   
order: 2;
flex:3;
margin: auto;
**/
}   

**/ 
.container div {
    margin: 5px;
}