.container {
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header"
                        "sidebar content content content"
                        "sidebar footer footer footer";
}

.container *{
    padding: auto;
    margin: 5px;
}
header {
    grid-area: header;
    background-color: yellow;

}

.sidebar {
    grid-area: sidebar;
    background-color: green;
    color: blanchedalmond;
}

.content {
    grid-area: content;
    background-color: rgb(127, 255, 185);
}

footer {
    grid-area: footer;
    background-color: greenyellow;
}

/* ::marker {
    color: red;
}
*/

ul::marker {
    font-size: 1.5 rem;
}

ol::marker {
    font-size: 1.1 rem;
}

summary::marker {
    content: '\002B'' '; /* + */
}

details[open] summary::marker {
    content: '\2212'' '; /* + */
}

li + li {
   margin-top: .25rem; 
}

ol { padding: 0 0 0 1.1 rem;}

li::selection { background-color: blanchedalmond;}

p:first-child {
    background-color: lightgreen;
    font-weight: bold;
}

p:last-child {
    background-color: lightgoldenrodyellow;
    font-weight: bold;
}

ul li:first-child  {color: blue;}

ul:first-of-type {color: red;}

article { max-width: 60ch;}

article > * + * {
    margin-top: 1.2rem;
}

li:nth-child(5) {
    background: lightcoral;
}

li:nth-child(even) {
    background: lightcyan;
}

li:nth-child(3n+3) {
    background: lightskyblue;
}