.container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header"
                        "sidebar content content content"
                        "footer footer footer footer";
}

.container *{
    padding: auto;
    margin: 5px;
}
header {
    grid-area: header;
    background-color: yellow;

}

.sidebar {
    grid-area: sidebar;
    background-color: green;
    color: blanchedalmond;
}

.content {
    grid-area: content;
    background-color: rgb(127, 255, 185);
}

footer {
    grid-area: footer;
    background-color: greenyellow;
}

/* ::marker {
    color: red;
}
*/

ul::marker {
    font-size: 1.5 rem;
}

ol::marker {
    font-size: 1.1 rem;
}

summary::marker {
    content: '\002B'' '; /* + */
}

details[open] summary::marker {
    content: '\2212'' '; /* + */
}

li + li {
   margin-top: .25rem; 
}

ol { padding: 0 0 0 1.1 rem;}

li::selection { background-color: blanchedalmond;}

p:first-child {
    background-color: lightgreen;
    font-weight: bold;
}

p:first-of-type {
    text-shadow: 3px 3px 3px white ;
color: gray;
}

p:last-of-type {
    background-color: #fafad2;
    background: radial-gradient(#e66465, #9198e5);
    font-weight: bold;
}

ul li:first-child  {color: blue;}

ul:first-of-type {color: red;}

article { max-width: 60ch;}

article > * + * {
    margin-top: 1.2rem;
}

li:nth-child(5) {
    background: lightcoral;
}

li:nth-child(even) {
    background: lightcyan;
}

li:nth-child(3n+3) {
    background: lightskyblue;
}

ul {
    border: 2px dotted;
    border-radius: 96% 4% 70% 30% / 37% 30% 70% 63% ;
    border-inline-end: 2px solid white;
    box-shadow: 15px 15px 5px 5px;
}

ol {
    border-image-source: url(https://assets.codepen.io/174183/border-image-frame.jpg);
    border-image-slice: 200 180 200 180;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
}

img {
    filter: drop-shadow( 0 0 10px red);
}
