.items > * {
    width: 250px;
    height: 200px;
    position: relative;
}

.items > * + * {
    margin-top: -150px;
    opacity: .08;
    box-shadow: 0 -1px 10px rgba(0 0 0 /60%)
}

.items > :first-child {
    background: lightcoral;
    border: 2px solid rebeccapurple;
    z-index: 3;
}

.items > :nth-child(2) {
    background: lightblue;
    border: 2px solid hotpink;
    z-index: 1;
}

.items > :last-child {
    background: lightskyblue;
    border: 2px solid gold;
    z-index: 2;
}

.page{
    display: flex;
    flex-wrap: wrap;
}

.page > *{
    padding: 1rem;
    min-height: 50vh;
    padding: 1rem;
    min-height: 50vh;
}

.content{
    border: 1px solid gray;
    flex-basis: 0;
    flex-grow: 2;
    min-width: 70%;
    border: 1px solid gray;
}

.sidebar{
    background: gray;
    width: 15rem;
}